<style>
  #heroBanner{
    background-color: #FFF2F3;
  }

  #heroBanner .heroBanner__wrapper{
    padding: 0;
  }

  #heroBanner .heroBanner__content{
    padding-left: 190px;
  }
</style>

<section id="heroBanner">
  <div class="heroBanner__wrapper w-100">
    <div class="row g-0">
        <div class="col-md-6 col-12 heroBanner__content">
            <div class="heroBanner__content--wrapper h-100 my-auto">
                <span class="d-block subtitle">Welcome</span>
                <h1 class="title m-0">Best Learning Opportunities</h1>
                <div class="desc">Our goal is to make online education work for everyone</div>
                <div class="group__button d-flex align-items-center">
                    <a class="button__primary group__button--item" href="/" title="Join us">Join us</a>
                    <a class="button__primary group__button--item" href="/" title="Learn more">Learn more</a>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12 heroBanner__image">
            {% if section.settings.image != blank %}
              {% render 'image', image_desktop: section.settings.image, image_mobile: section.settings.image, image_alt: 'Hero image' %}
            {% endif %}
        </div>
    </div>
  </div>
</section>
<!-- JS -->
<script></script>

{% schema %}
  {
    "name": "Section Hero Banner",
    "tag": "section",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Iamge"
        }
    ],
    "presets": [
      {
        "name": "Section Hero Banner"
      }
    ]
  }
{% endschema %}